.menu {
    width: 18%;
    background-color: rgb(32, 31, 31);
}

.menu .container {
    position: fixed;
}

.menu .title {
    text-align: center;
    border-bottom: 1px solid rgb(165, 164, 164);
}

.menu .title h3 {
    color: rgb(89 195 224);
    margin-right: 5%;
    font-size: 20px;
}

.menu .title img {
    width: 50px;
}

.menu .menu-items {
    margin-top: 7%;
}

.menu .menu-items .item {
    text-decoration: none;
    color: rgb(143, 139, 139);
    font-family: math;
    width: 97%;
    height: 15%;
    font-size: 20px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 1%;
}

.menu .menu-items .item:hover {
    background-color: rgb(65, 63, 63);
    color: rgb(221, 214, 214)!important;
}

.menu .menu-items .active {
    background-color: rgb(65, 63, 63);
    color: rgb(221, 214, 214)!important;
}

.menu .menu-items .item .item-content {
    padding: 4% 0;
    margin-left: 10%;
}

.menu .menu-items .item .item-content img {
    width: 40px;
}

.menu .menu-items .item .item-content h3 {
    margin: 0;
}