.product-search {
    width: 50%;
}

.product-search h4 {
    margin: 0;
}

.product-search .title {
    text-align: center;
}

.product-search .search {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.product-search form {
    width: 100%;
}

.product-search input {
    width: 90%;
}

.product-search .content {
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.product-search table {
    width: 100%;
    margin-top: 2%;
    border-collapse: collapse;
}

.product-search tr:first-child {
    text-align: center;
    background-color: #acacac;
}

.product-search tr {
    border-bottom: 1px solid rgba(172, 172, 172, 0.568);
}

.product-search th {
    padding: 2% 0
}