.add-data {
    width: 60%;
    background-color: rgba(247, 247, 247, 0.705)
}

.add-data h3 {
    margin: 1% 1%;
    margin-bottom: 3%;
    font-size: 30px;
}

.add-data .button {
    text-align: end;
    margin-right: 1%;
}

.add-data button {
    margin: 2% 0;
    margin-left: 1%;
    font-size: 15px;
}

.add-data .button .submit {
    background-color: burlywood;
}

.add-data .button .cancel {
    background-color: aqua;
}

.add-data .message {
    text-align: center;
}

.add-data .success {
    color: blue;
    background-color: rgb(145, 209, 161);
}

.add-data .failed {
    color: rgb(187, 38, 19);
    background-color: rgb(218, 120, 141);
}