.highlight {
    background-color: rgba(235, 225, 225, 0.884);
}

.list-product button {
    margin: 1%;
}

.list-product .edit {
    background-color: burlywood;
}

.list-product .delete {
    background-color: brown;
    color: white;
}