.list-customer {
    width: 98%;
}

.list-customer table {
    width: 100%;
    margin-top: 2%;
    border-collapse: collapse;
}

.list-customer tr:first-child {
    color: rgb(107, 107, 107);
    margin-bottom: 2%;
}

.list-customer tr:not(:first-child) th {
    padding: 2% 0;
}

.list-customer .button .add {
    float: right;
    margin-right: 5%;
    font-size: 15px;
    padding: 5px 2%;
    background-color: antiquewhite;
}