.content {
    width: 82%;
}

.header {
    width: 100%;
    height: 12vh;
    justify-content: space-between;
}

.header .title {
    font-size: 20px;
    font-family: 'math';
    height: 20%;
    margin-left: 5%;
}

.main-background {
    width: 100%;
    background-color: rgba(107, 104, 104, 0.651);
    display: flex;
}

.status {
    margin-right: 5%;
}